* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    text-align: center;
    /* text-transform: uppercase lowercase capitalize; */
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
  }
  
  .gallery {
    /* felx container: set by display */
    display: flex;
    /* flex-direction: direction to stack the flex items.
    row column row-reverse column-reverse; */
    flex-direction: row;
    /* flex-wrap: The flex-wrap property specifies whether the flex items should wrap or not.; */
    /* wrap nowrap wrap-reverse */
    flex-wrap: wrap;
    /* The justify-content property is used to align horizontal flex items */
    justify-content: center;
    /* align-items: vertical; */
    /* Set both the justify-content and align-items properties to center, 
    and the flex item will be perfectly centered */
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  